---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 Not Found" description="Maaf, Halaman ini belum tersedia">
  <sectiom>
    <article class="flex flex-col justify-center items-center w-full h-[100vh]">
        <h1 class="text-8xl font-NeueBold text-black dark:text-lime-500">404</h1>
        <p class="text-foreground dark:text-neutral-400">Maaf, Halaman ini belum tersedia </p>
        <a class="inline-flex bg-black mt-3 text-white dark:text-black font-NeueMedium h-10 px-4 py-2 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors duration-300 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:bg-lime-500" href="/"> Kembali ke beranda
        </a>
    </article>
  </section>
</BaseLayout>