---
import AnimateReveal from "@/components/ui/reveal.jsx";
const {
  class: className
} = Astro.props;
---

<section class:list={["px-10 py-5 mx-auto w-full h-full max-w-2xl lg:px-13", className]}>
    <slot />
</section>