---
import { Dock, DockIcon } from "@/components/ui/dock.jsx"

import { HomeIcon } from "lucide-react"
---

<Dock client:load>
  <DockIcon>
    <a href=""><HomeIcon className="size-4" /></a>
  </DockIcon>
</Dock>