---

---
<div
  class="prose md:prose-xl dark:prose-invert
  prose-h1:font-Neue prose-a:text-blue-700 prose-h1:text-xl prose-p:text-justify prose-img:rounded-xl marker:text-foreground dark:prose-a:text-lime-500">
  <slot />
</div>