---
import BaseLayout from "@/layouts/BaseLayout.astro";
import {
  LOCALES,
  useTranslations,
} from "@/i18n.ts";
import type {
  Lang
} from "@/i18n.ts"

import {
  getCollection
} from "astro:content";
import {
  Image
} from "astro:assets";

import {
  Instagram,
  Github
} from 'lucide-react';

export const prerender = true;

const locale = Astro.currentLocale as Lang;
const t = useTranslations(Astro.currentLocale as Lang);

const posts = (await getCollection("blog")).filter((post) => post.slug.split("/")[0] === locale).sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf());

const title = t({
  id: "Artikel",
  en: "Blogs"
})
const description = t({
  id: "Disini aku menulis tentang apa yang aku pelajari tentang seputar teknologi dan mungkin beberapa kehidupan sehari hari ku.",
  en: "Here I write about what I learn about technology and maybe some of my daily life"
})

export const getStaticPaths = () =>
Object.keys(LOCALES).map((lang) => ({
  params: {
    lang
  },
}));
---

<BaseLayout title={title} description={description}>
  <section class="px-10 py-5 max-w-xl mx-auto w-full h-full">
    <article class="w-full h-full">
      <h1 class="text-2xl font-NeueMedium w-60 mb-3.5 sm:text-3xl sm:w-96">{t({
        en: "Welcome to my corner of internet",
        id: "Selamat datang di halaman blog ku"
      })}</h1>
        <p class="text-black dark:text-neutral-400 sm:text-lg">
          {t({
            en: "Here I write about what I learn about technology and maybe some of my daily life.",
            id: "Disini aku menulis tentang apa yang aku pelajari tentang seputar teknologi dan mungkin beberapa kehidupan sehari hari ku."
          })}</p>
        </article>
        <div class="w-full flex justify-start items-center gap-5 mt-3.5">
          <a class="inline-flex items-center gap-x-3 text-sm text-foreground dark:text-neutral-400 font-Neue sm:text-base" href="https://www.instagram.com/raffyshira?igsh=MXhja28zbTZ1MHFyOQ==" target="_blank">
            <Instagram className="w-4 h-4 sm:w-6 sm:h-6" /> Instagram
          </a>
          <a class="inline-flex items-center gap-x-3 text-sm text-foreground dark:text-neutral-400 font-Neue sm:text-base" href="https://github.com/Raffyshira" target="_blank">
            <Github className="w-4 h-4 sm:w-6 sm:h-6" /> Github
          </a>
        </div>
      </section>
      <section class="px-10 py-5 max-w-xl mx-auto w-full h-full">
        <h1 class="text-2xl font-NeueMedium sm:text-3xl underline-offset-8 underline">
          {t({
            en: "Blogs",
            id: "Artikel"
          })}
          </h1>
          <div class="grid grid-cols-1 mt-5 gap-10">
            {posts.map((post) => {
              const [, ...slug] = post.slug.split("/");
              return (
                <div class="mt-3.5 border-b">
          <a href= { `/${locale}/blog/${slug.join("/")}/` }>
                  {
                    post.data.cover && (
                      <Image class="rounded-xl w-full aspect-video object-cover" src= { post.data.cover } alt= { post.data.title } />
                    )}
            <div class="my-3.5">
              <h2 class="text-2xl font-NeueMedium"> {
                        post.data.title
                      }</h2>
              <time class="my-1 text-sm text-neutral-500 dark:text-neutral-400" datetime= { post.data.date.toLocaleDateString("id-ID")}>
                      {
                        post.data.date.toLocaleDateString("id-ID")
                      }
              </time>
              <p class="text-neutral-500 dark:text-neutral-400 line-clamp-1 w-80 ">
{
                        post.data.description
                      }
                    </p>
                  </div>
          </a>
                </div>
              );
            })}
            </div>
          </section>

        </BaseLayout>